# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv

# Project examples
examples/

# Testing
tests
.pytest_cache
pytest-cov.txt
.coverage

# Databases
*.db
*.sqlite

# IDE / Editor
.idea
.vscode

# Local development
.env
